* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
   
  h1 {
    color: SeaGreen;
    text-align: center;
  }
   
   
  p, 
  li {
    font-size: 18px;
    background-color: chocolate;
    text-align: center;
    opacity: 0.5;
  }
   
   
  a {
    text-decoration: none;
  }